{{- $id := .Get "id" | default (.Get 0) -}}
{{- $rows := .Get "rows" | default "24" -}}
{{- $cols := .Get "cols" | default "80" -}}
{{- $autoplay := .Get "autoplay" | default "false" -}}
{{- $loop := .Get "loop" | default "false" -}}
{{- $speed := .Get "speed" | default "1" -}}
{{- $theme := .Get "theme" | default "asciinema" -}}

<div class="my-6 flex justify-center">
    <script src="https://asciinema.org/a/{{ $id }}.js" id="asciicast-{{ $id }}" async="true" data-rows="{{ $rows }}"
        data-cols="{{ $cols }}" data-autoplay="{{ $autoplay }}" data-loop="{{ $loop }}" data-speed="{{ $speed }}"
        data-theme="{{ $theme }}">
        </script>
</div>